{{ block "index" . }}

<!DOCTYPE html>
<html>
    <head>
        <title>Pedro's Wishlist</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
        <link rel="stylesheet" href="../css/index.css" type="text/css" />

    </head>
    <body>
        <div>
            <div class="wishlist-header">
                <img class="wishlist-header-avatar" src="https://avatars.githubusercontent.com/u/6302574?v=4"/>
                <div style="flex-direction: column;">
                    <h1>Ola! Bem vindo ha minha wishlist!</h1>
                    <p>Os items nos retangulos cinzentos ja foram comprados.</p>    
                    <p>Carrega nos links se quiseres ver a loja os podes comprar.</p>    
                </div>
            </div>
            <hr/>
            {{ template "itemlist" .Tshirts}}
            <hr/>
            {{ template "itemlist" .Books}}
            <hr />
            {{ template "itemlist" .Other}}
            <hr />
            <h4>That's All folks!</h4>
        </div>
    </body>
</html>

{{ end }}

{{ block "itemlist" . }}

    {{ range $element := . }}
        
        {{ template "wishlistitem" $element }}
        
    {{ end }}
{{ end }}

{{ block "wishlistitem" . }}
    <div class="wish-item-{{ .WasPurchased }}" id="wishitem-{{ .Id }}">
        <div class="wish-item-logo-wrapper">
            <img class="wish-item-logo" src="{{ .ImgSource }}"/>
        </div>
        <div class="wish-item-content">
            <div class="wish-item-summary">
                <div class="wish-item-text">
                    <p class="wish-item-title">{{ .Title }}</p>
                    <p class="wish-item-description">{{ .Description }}</p>
                </div>
            </div>

            {{ if .WasPurchased }} 
            <p class="wish-item-msg-bought">This item was already purchased!</p>
            {{ else }}
            <div class="wish-items-ops">
                <a class="wish-item-link" href="{{ .ShopUrl }}" target="_blank">Open Site</a>
                <button
                class="ops-btn-buy"
                type="button"
                hx-target="#wishitem-{{ .Id }}"
                hx-swap="outerHTML, swap:1000ms"
                hx-post="/wishitem/{{ .Id }}/buy">Comprei</button>
            </div>
            {{ end }}
        </div>
    </div>
{{ end }}

{{ block "filters" . }}
    <div>
        <label>Filtro:</label>
        <select>
            {{ range .}}
                <option value="{{ . }}">{{ . }}</option>
            {{ end }}   
        </select>
    </div>
{{ end }}